#banner img{
    width: 100%;
}
#pie{
    width: 100%;
    height: 150px;
    color: white;
    background: #1B1E78;
   position: relative;
   text-align: center;
   flex-wrap: wrap;
   margin-top: 50px;
    
}

@media(min-width:1024px){
    #pie{
    height: 80px;
    top: 10px;
    height: 150px;
    z-index: 100;
  }
  }

 .contimagenes{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    top: 15mm;
    position: relative;
    text-align: center;
}
#pie h3{
 font-size: 7mm;
}
.contimagenes article{
    padding: 40px;
}
.sociales a{
    font-size: 2mm;
    background: whitesmoke;
    color: teal;
}
#foto img{
    position: relative;
    left: 300px;
}
.cont2 a {
    padding: 8px;
    text-decoration: none;
    text-align: center;
} 
   
#pie label {
    border-left: 30px;
    padding-left: 20px;
    font-size: 18px;
    color :white;
    padding-bottom: 10px;
    
}
#pie a{
    font-size: 18px;
    color :white;
    background-color: #1B1E78;
    text-decoration: none;
    
}
#pie h3{
    padding: 12px;
    border-top: 5px;
}
.cont3{
    color: white;
    z-index: 100;
    font-size: 15px;
    position: absolute;
    margin-left: 25px;
    margin-right:20px;
}
.tetnt{
    font-size: 15px;
    position: relative;
    margin-left: 25px;
    margin-right:20px;  
}

.cont3 h2{
    font-size: 20px;  
}