@import url(http://fonts.googleapis.com/css?family=Opens+Sans);
@import url(menu.css);
@import url(imagenes.css);
@import url(pie.css);




*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Open Sans' ,sans-serif;
}
header{
width: 100%;
height: 90px;
top: 0;
left: 0;
background:whitesmoke ;
z-index: 100;
}
 h1{
float: left;
}
.cont{
  width: 98%;
  margin: auto;
}
.cont2{
  margin-top: 25px;
  margin-left: 25px;
  margin-right:20px;
  text-align: justify;
}
header .cont{
  display: table;
}

section{
  height: 100%;
}

.cont2 a {
  padding: 8px;
  text-decoration: none;
  text-align: center;
} 
 

.cont3{
  color: white;
  z-index: 100;
  font-size: 15px;
  position: absolute;
  margin-left: 25px;
  margin-right:20px;
}

.tetnt{
  font-size: 15px;
  position: relative;
  padding: 20mm; 
  text-align: justify;
}

.cont3 h2{
  font-size: 20px;
  text-align: center;  
}

@media(min-width:1024px){
.cont2{
  margin-left: 60px;
  margin-right: 60px;
  text-align: justify;
}
.cont3{
  color: white;
  z-index: 100;
  font-size: 8mm;
  position: absolute;
  margin-left: 25px;
  margin-right:20px;
}
.cont3 h2{
  font-size: 12mm;  
}
}

